---
layout: default
title: Blog
---
<h1>All Posts</h1>

Show page!

<h2>{{ site.data.postlist.docs_list_title }}</h2>
<ul>
  {% for year_item in site.data.postlist.docs %}
    {% for month_item in year_item.items %}
      {% for day_item in month_item.items %}
      <li><span>{{ year_item.year }}/{{month_item.month}}/{{day_item.day}}&nbsp;-&nbsp;</span><a href="{{ year_item.year }}/{{month_item.month}}/{{day_item.day}}/{{day_item.title}}">{{ day_item.title }}</a></li>
      {% endfor %}
    {% endfor %}
  {% endfor %}
</ul>
